
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');

:root{
    --red:#FF6969;
    --blue:#A6D0DD;
    --bg-secondary: #FFD3B0;
    --bg-primary: #6a6a68;
    --white: rgb(241, 238, 238);
    --black: rgba(31, 30, 30, 0.897);
    --gray: rgb(74, 73, 73);
    --font: 'Open Sans', sans-serif;
    --txt-color: rgb(209, 206, 206);
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: var(--black);
    font-family: var(--font);
}
button{
    cursor: pointer;
}
body{
    padding: 10px;
    background-color: var(--bg-primary);    
}


